rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email in [
          "giang10012004@gmail.com"
        ];
    }

    // Public read for media (tuỳ nhu cầu bạn có thể siết lại)
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
